<section class="form-post-section">
  <h2>Add a Comment</h2>

  <%= form_with(model: @comment, url: user_post_comments_path(@post), local: true) do |form| %>

    <div class='comment-form'>
      <%= form.text_area :text, placeholder: 'Please enter your comment', class: 'comment-area' %>
      <%= form.submit 'Add Comment', class: 'comment-btn' %>
    </div>
  <% end %>
</section>