* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.users-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  width: 60%;
  height: 15vh;
}

.user-img-container {
  width: 10%;
  border: 1px solid;
  height: 15vh;
}

.user-img {
  height: 15vh;
}

.posts-counter {
  margin-right: 10px;
}

/* -----------show user details-------------- */

.user-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  margin-top: 20px;
}

.user-bio {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.posts-container {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.comments-likes {
  display: flex;
  gap: 10px;
}

.more-post-btn {
  padding: 10px;
  border: 1px solid #000;
}

/* -----------show posts-------------- */

.create-post-btn {
  margin-top: 15px;
  width: 75%;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgb(226, 224, 224);
  color: #000;
  padding: 15px 0 15px 0;
}

.comments-section-container {
  border: 1px solid #000;
  padding: 5px 10px 5px 10px;
  margin-top: -18px;
}

.comments-section {
  display: flex;
  gap: 5px;
}

.pagination-btn {
  padding: 10px;
  border: 1px solid #000;
}

/* -----------form-post-section-------------- */

.form-post-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

.post-title {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.post-area {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.post-btn {
  padding: 10px;
  background-color: rgb(243, 241, 241);
  border: 1px solid #fff;
  border-radius: 5px;
}

/* -----------Like and comment section-------------- */

.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.create-comment-btn {
  padding: 5px 20px;
  background-color: #ecefed;
}

.like-btn {
  padding: 5px 20px;
  background-color: #ecefed;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

.comment-area {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.comment-btn {
  padding: 10px;
  background-color: rgb(243, 241, 241);
  border: 1px solid #fff;
  border-radius: 5px;
}

/* -----------sign up and log in form-------------- */

.sign-up-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.sign-up-h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.sign-up-form-container {
  width: 60%;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
}

.actions {
  margin-top: 10px;
}

.sign-up-btn {
  padding: 5px 10px;
  background-color: #fff;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/* --log in-- */

.log-in-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.sign-in-h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.log-in-form-container {
  width: 60%;
}

input[type="email"],
input[type="password"] {
  padding: 10px 0px;
  border-radius: 5px;
}

.log-in-btn {
  padding: 10px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 3px 3px black;
}

.log-in-btn:hover {
  box-shadow: none;
}
