* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.users-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  width: 60%;
  height: 15vh;
}

.user-img-container {
  width: 10%;
  border: 1px solid;
  height: 15vh;
}

.posts-counter {
  margin-right: 10px;
}

/* -----------show user details-------------- */

.user-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  margin-top: 20px;
}

.user-bio {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.posts-container {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.comments-likes {
  display: flex;
  gap: 10px;
}

.more-post-btn {
  padding: 10px;
  border: 1px solid #000;
}

/* -----------show posts-------------- */

.create-post-btn {
  margin-top: 15px;
  width: 75%;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgb(226, 224, 224);
  color: #000;
  padding: 15px 0 15px 0;
}

.comments-section-container {
  border: 1px solid #000;
  padding: 5px 10px 5px 10px;
  margin-top: -18px;
}

.comments-section {
  display: flex;
  gap: 5px;
}

.pagination-btn {
  padding: 10px;
  border: 1px solid #000;
}
